@page "/entries"
@using CrohnsDiary.App.Models

@inject IStringLocalizer<Entries> Loc
@inject IStringLocalizer<Entry> LocEntry

<div class="container-fluid">
    <div class="row">
        <div class="col-6"><MudDatePicker PickerVariant="PickerVariant.Static" Orientation="Orientation.Landscape" @bind-Date="SelectedDate" ></MudDatePicker></div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            @if (EntriesOnSelectedDate.Count > 0)
            {
                <MudDataGrid Items="@EntriesOnSelectedDate" Striped="true">
                    <Columns>
                        <PropertyColumn Property="e => e.Timestamp" Title="@Loc["Time"]" Format="t"></PropertyColumn>
                        <PropertyColumn Property="e => e.Consistency" Title="@LocEntry["Consistency"]"></PropertyColumn>
                        <PropertyColumn Property="e => e.Amount" Title="@LocEntry["Amount"]"></PropertyColumn>
                        <PropertyColumn Property="e => e.Effort" Title="@LocEntry["Effort"]"></PropertyColumn>
                        <PropertyColumn Property="e => e.Urgency" Title="@LocEntry["Urgency"]"></PropertyColumn>
                    </Columns>
                </MudDataGrid>
            }
            else
            {
                <div>@Loc["NoEntries"]</div>
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="NavigateToExportImport">@Loc["ExportImport"]</MudButton>
        </div>
    </div>
</div>