@page "/"
@using CrohnsDiary.App.Models

@inject IStringLocalizer<Entry> LocEntry

<div class="container-fluid">
    <div class="row">
        <div class="col-6"><MudDatePicker @bind-Date="SelectedDate" AnchorOrigin="Origin.TopLeft"></MudDatePicker></div>
        <div class="col-6"><MudTimePicker @bind-Time="SelectedTime" AnchorOrigin="Origin.TopRight"></MudTimePicker></div>
    </div>
    @if (ShowConsistency)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Consistency"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Consistency"></MudSlider>
            </div>
        </div>
    }
    @if (ShowAmount)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Amount"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Amount"></MudSlider>
            </div>
        </div>
    }
    @if (ShowEffort)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Effort"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Effort"></MudSlider>
            </div>
        </div>
    }
    @if (ShowUrgency)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Urgency"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Urgency"></MudSlider>
            </div>
        </div>
    }
    @if (ShowAir)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Air"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="0" Max="2" @bind-Value="Air"></MudSlider>
            </div>
        </div>
    }
    <div class="row mt-3">
        <div class="col-12">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="OnSave">@Loc["Save"]</MudButton>
        </div>
    </div>
</div>

