@page "/"
@using CrohnsDiary.App.Models

@inject IStringLocalizer<Entry> LocEntry
@inject IStringLocalizer<BloodPressureEntry> LocBloodPressure

<div class="container-fluid">
    <div class="row">
        <div class="col-6"><MudDatePicker @bind-Date="SelectedDate" AnchorOrigin="Origin.TopLeft"></MudDatePicker></div>
        <div class="col-6"><MudTimePicker @bind-Time="SelectedTime" AnchorOrigin="Origin.TopRight"></MudTimePicker></div>
    </div>
    @if (ShowConsistency)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Consistency"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Consistency"></MudSlider>
            </div>
        </div>
    }
    @if (ShowAmount)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Amount"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Amount"></MudSlider>
            </div>
        </div>
    }
    @if (ShowEffort)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Effort"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Effort"></MudSlider>
            </div>
        </div>
    }
    @if (ShowUrgency)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Urgency"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="1" Max="5" @bind-Value="Urgency"></MudSlider>
            </div>
        </div>
    }
    @if (ShowAir)
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@LocEntry["Air"]</label></div>
            <div class="col-12 col-sm-9">
                <MudSlider T="int" Min="0" Max="2" @bind-Value="Air"></MudSlider>
            </div>
        </div>
    }
    
    @foreach (var metric in CustomMetrics.Where(m => m.IsEnabled))
    {
        <div class="row mt-3">
            <div class="col-12 col-sm-3"><label>@metric.Name</label></div>
            <div class="col-12 col-sm-9">
                @if (metric.Type == MetricType.Number)
                {
                    <MudSlider T="int" 
                               Min="@(metric.MinValue ?? 0)" 
                               Max="@(metric.MaxValue ?? 10)" 
                               Value="@(CustomNumberValues.GetValueOrDefault(metric.Id, metric.DefaultValue ?? metric.MinValue ?? 0))"
                               ValueChanged="@(value => CustomNumberValues[metric.Id] = value)"></MudSlider>
                }
                else if (metric.Type == MetricType.Enum && metric.EnumValues.Any())
                {
                    <MudSelect T="string" 
                               Value="@(CustomEnumValues.GetValueOrDefault(metric.Id, metric.EnumValues.First()))"
                               ValueChanged="@(value => CustomEnumValues[metric.Id] = value)">
                        @foreach (var enumValue in metric.EnumValues)
                        {
                            <MudSelectItem Value="@enumValue">@enumValue</MudSelectItem>
                        }
                    </MudSelect>
                }
            </div>
        </div>
    }
    
    <div class="row mt-3">
        <div class="col-12">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="OnSave">@Loc["SaveEntry"]</MudButton>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-12">
            <MudDivider />
            <h3 class="mt-3">@Loc["BloodPressureSection"]</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6"><MudDatePicker @bind-Date="BloodPressureDate" AnchorOrigin="Origin.TopLeft"></MudDatePicker></div>
        <div class="col-6"><MudTimePicker @bind-Time="BloodPressureTime" AnchorOrigin="Origin.TopRight"></MudTimePicker></div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-3"><label>@LocBloodPressure["Systolic"]</label></div>
        <div class="col-12 col-sm-9">
            <MudNumericField @bind-Value="Systolic" Min="60" Max="250" Variant="Variant.Outlined"></MudNumericField>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-3"><label>@LocBloodPressure["Diastolic"]</label></div>
        <div class="col-12 col-sm-9">
            <MudNumericField @bind-Value="Diastolic" Min="40" Max="150" Variant="Variant.Outlined"></MudNumericField>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-3"><label>@LocBloodPressure["PulseRate"]</label></div>
        <div class="col-12 col-sm-9">
            <MudNumericField @bind-Value="PulseRate" Min="40" Max="200" Variant="Variant.Outlined"></MudNumericField>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="OnSaveBloodPressure">@Loc["SaveBloodPressure"]</MudButton>
        </div>
    </div>
</div>

